@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superhero Creator</h1>
    <p class="lead">Create and View Superheros</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
   <img src="~/Content/Punisher_MainPagePhoto.jpg" alt="Punisher Symbol">
</div>