@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superhero Creator</h1>
    <p class="lead">Create and View Superheros</p>
</div>

<div class="row">
   <img src="~/Content/Punisher_MainPagePhoto.jpg" alt="Punisher Symbol" width="65%" height="auto">
</div>